/* GENERAL */
* {
  margin:0px;
  padding:0px;
  font-size: 11pt;
  line-height: 1.2em;
  scroll-behavior: smooth;
}



/* IMAGES */
#gif {
  width: 70px;
  margin: 10px;
}

/* works project vignette (landscape) */
.vignette {
  padding: 10px;
  width: 260px;
  float: left;
  clear: both;
}

/* works project vignette (portrait) */
.vignettevertical {
  padding: 10px;
  width: 130px;
  float: left;
  clear: both;
}



/* MAIN STRUCTURES */
body {
  width: 530px;
  overflow: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-family:'Times New Roman', Times, serif;
}

/* menu */
.f1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
}

/* works keyword list */
.f2 {
  text-align: center;
  overflow: hidden;
}

/* works project listed element*/
.f3 {
  width: 530 px;
  overflow: auto;
  border: solid 1px;
  margin-top: 77px;
}


/* TEXTS */

/* title */
.index {
  font-size: 2em;
  font-weight: bold;
  color: rgb(202, 1, 1);
  display: flex;
  padding-top: 50px;
  text-decoration: none;
}

/* (works, cv) */
.menu {
  font-size: 1.15em;
  padding: 10px;
  font-variant: small-caps;
  text-decoration: none;
  color: rgb(202, 1, 1);
}

/* INDEX TEXT */
/* index page: keywords */
.indextext1 {
  text-align: center;
  color: rgb(202, 1, 1);
  margin-bottom: 30px;
  padding: 10px;
}

/* index page: subtitles */
.indextext2 {
  text-align: left;
  color: rgb(202, 1, 1);
  margin-bottom: 10px;
  padding: 10px;
}

/* WORKS TEXT */
/* works keywords list */
.keywords {
  font-size: 1.15em;
  padding: 5px;
  font-variant: small-caps;
  text-decoration: none;
  color: rgb(202, 1, 1);
}

/* works project description (title, date) */
.vigtext {
  font-size: 1.2em;
  padding-top: 10px;
  font-variant: small-caps;
  font-weight: bold;
}

em {
  font-size: 1.1em;
  color: rgb(119, 119, 119);
  padding-right: 5px;
}

/* PROJECT PAGE TEXT */



/* LINKS */
a:hover {
  color: cornflowerblue;
}

/* menu text when clicked on */
.focusmenu {
  font-size: 1.15em;
  padding: 10px;
  font-variant: small-caps;
  text-decoration: none;
  color: cornflowerblue;
}

/* works keywords when clicked on */
.focus {
  font-size: 1.15em;
  padding: 5px;
  font-variant: small-caps;
  text-decoration: none;
  color: cornflowerblue;
}








.projecttitle {
  font-size: 117%;
  padding: 10px;
  /*text-decoration:underline;*/
  font-variant: small-caps;
  font-weight: bold;
  border: solid 1px;
  /*color: cornflowerblue;*/
  /*color: rgb(202, 1, 1);*/
  /*color: rgb(119, 119, 119);*/
  text-align: left;
}

.subtitle {
    color: rgb(119, 119, 119);
    padding: 10px;
    border: solid 1px;
    margin-top: 50px;
    width: 512px;
}

.underconstruction {
  color: rgb(119, 119, 119);
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  width: 530px;
}

.projectkeywords {
  color: rgb(119, 119, 119);
  padding-bottom: 13px;
}

.projectdate {
  color: rgb(119, 119, 119);
  padding-top: 13px;
  text-align: right;
}

.projecttexts {
  padding-right: 77px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  text-indent: 50px;
}

.projecttextsquote {
  padding-right: 77px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
}

.video1 {
  padding-top: 20px;
  padding-right: 127px;
}

.video2 {
  padding-top: 20px;
  padding-right: 127px;
}

.video5 {
  margin-left: 15px;
  padding-right: 127px;
}

.video6 {
  margin-left: 20px;
  padding-right: 127px;
}

.video7 {
  margin-left: 50px;
  padding-right: 127px;
}

.projectimg {
  float: left;
  padding-top: 50px;
  padding-right: 42px;
}

.postcards {
  float: left;
  margin-top: 50px;
  margin-right: 42px;
}

.bigprojectimg {
  float: left;
  margin-top: 50px;
  margin-right: 100px;
  border: solid 1px;
}

.divappear {
/*  padding-right: 77px;*/
  display: flex;
}

.container {
  align-items: center; 
  float: left;
}

.credit {
  font-size: 77%;
  padding-top: 7px;
  padding-bottom: 50px;
  color: rgb(119, 119, 119);
  text-align: left;
}

.collaboration {
  font-size: 82%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(119, 119, 119);
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.pdf{
  border: solid 1px;
  margin-top: 50px;
}

.absolute {
  position: absolute;
  left: 77px;
  padding-top: 50px;
}

footer {
  margin-top: 77px;
  margin-bottom: 15pt;
  font-size: 7pt;
  text-align: center;
  letter-spacing: 1px;
  /*background-color: cornflowerblue;*/
  /*border: solid 1px;*/
  line-height: 160%;
  padding: 20px;
  color: rgb(202, 1, 1);
  /*position: relative;
  top: 477px;*/
  width: 530px;
}

