* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:84px;
  margin: 10px auto;
}

#gif {
  width: 70px;
  margin: 10px;
}

body {
  width: 530px;
  overflow: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-family:'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  color: rgb(202, 1, 1);
  padding-top: 50px;
  /*border: solid 1px;*/
  /*font-variant: small-caps;*/
}

.index {
  font-size: 177%;
  font-weight: bold;
  color: rgb(202, 1, 1);
  display: flex;
  /*justify-content: center;*/
  padding-top: 50px;
  text-decoration: none;
}

.f4 {
  color: rgb(0, 0, 0);
  /*display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;*/
  padding-top: 10px;
}

.f1 {
  font-size: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  /*border: solid 1px;*/
}

.menu {
  padding: 10px;
  font-variant: small-caps;
  text-decoration: none;
  color: rgb(202, 1, 1);
}

.focusmenu {
  padding: 10px;
  font-variant: small-caps;
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  color: cornflowerblue;
  /*font-weight: bold;*/
}

.focus {
  padding: 5px;
  font-variant: small-caps;
  text-decoration: none;
  color: cornflowerblue;
  /*font-weight: bold;*/
}

.f2 {
  font-size: 100%;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  /*border: solid 1px;*/
}

.keywords {
  padding: 5px;
  font-variant: small-caps;
  text-decoration: none;
  color: rgb(202, 1, 1);
}

.little {
  margin-top: 15pt;
  margin-bottom: 4pt;
  font-size: 7pt;
  text-align: center;
  letter-spacing: 1px;
  line-height: 160%;
  color: rgb(202, 1, 1);
  /*border: solid 1px;*/
}

.f3 {
  width: 530 px;
  overflow: auto;
  border: solid 1px;
  margin-top: 77px;
}

.vignette {
  padding: 10px;
  width: 260px;
  float: left;
  clear: both;
}

.vignettevertical {
  padding: 10px;
  width: 130px;
  float: left;
  clear: both;
}

.vigtext {
  font-size: 117%;
  padding-top: 10px;
  /*text-decoration:underline;*/
  font-variant: small-caps;
  font-weight: bold;
}

em {
  /*color: cornflowerblue;*/
  color: rgb(119, 119, 119);
  padding-right: 5px;
}

.projecttitle {
  font-size: 117%;
  padding: 10px;
  /*text-decoration:underline;*/
  font-variant: small-caps;
  font-weight: bold;
  border: solid 1px;
  /*color: cornflowerblue;*/
  /*color: rgb(202, 1, 1);*/
  /*color: rgb(119, 119, 119);*/
  text-align: left;
}

.subtitle {
    color: rgb(119, 119, 119);
    padding: 10px;
    border: solid 1px;
    margin-top: 50px;
}

.projectkeywords {
  color: rgb(119, 119, 119);
  padding-bottom: 13px;
}

.projectdate {
  color: rgb(119, 119, 119);
  padding-top: 13px;
  text-align: right;
}

.projecttexts {
  padding-right: 77px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  text-indent: 50px;
}

.video1 {
  padding-top: 20px;
  padding-right: 127px;
}

.video2 {
  padding-top: 20px;
  padding-right: 127px;
}

.video5 {
  margin-left: 15px;
  padding-right: 127px;
}

.video6 {
  margin-left: 20px;
  padding-right: 127px;
}

.video7 {
  margin-left: 50px;
  padding-right: 127px;
}

.projectimg {
  float: left;
  padding-top: 50px;
  padding-right: 42px;
}

.divappear {
/*  padding-right: 77px;*/
  display: flex;
}

.container {
  align-items: center; 
  float: left;
}

.credit {
  font-size: 77%;
  padding-top: 7px;
  padding-bottom: 50px;
  color: rgb(119, 119, 119);
  text-align: left;
}

.collaboration {
  font-size: 82%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(119, 119, 119);
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.pdf{
  border: solid 1px;
  margin-top: 50px;
}

.absolute {
  position: absolute;
  left: 77px;
  padding-top: 50px;
}

footer {
  margin-top: 77px;
  margin-bottom: 15pt;
  font-size: 7pt;
  text-align: center;
  letter-spacing: 1px;
  /*background-color: cornflowerblue;*/
  /*border: solid 1px;*/
  line-height: 160%;
  padding: 20px;
  color: rgb(202, 1, 1);
  /*position: relative;
  top: 477px;*/
}

